<!DOCTYPE HTML>
  <html>
    <head>
      <title> Madlib in Love Results</title>
      <link rel="stylesheet" type="text/css" href="css/style.css"> 

    </head>
    <body>
      <h1 id="results-title">Welcome to your Dream Date!</h1>
      <br>
      <div id="mad-lib-container" class="wrapper">
        <p id="mad-lib">
        It's a starry friday night, and you roll up to grab <%= @celeb %> in your <%= @car %>. After <%= @celeb %> compliments how ravishing you look in your Flatiron shift, you speed off into the distance, anticipating the night of your life. Your <%= @extremity %> shakes with anticipation, but you slowly relax, knowing that you have the greatest date in history planned out for the evening. 
        </p>

        <p id="mad-lib">
        You screech to a halt in front of <%= @restaurant %> and arrive to the fresh smell of <%= pungent_scent %>. Chef <%= @restaurant_chef %> comes over and greets you, commenting on how stunning your date looks, and asks if you'll please take a look at the code for their most recent app. You politely decline, directing them instead to the <%= @incredible adjective %> Flatiron school website, where all code goes to flourish.
        </p>

        <p id="mad-lib">
        After a meal of <%= @food_choice %> and <%= @drink_choice %>, you thank <%= @restaurant_chef %> for the <%= @food_adjective %> meal, and prepare for the nightly event. <%= @other_celeb %> picks you up on a #{@crazy_transportation} and jets off to the next event. <%= @celeb %> stares longingly into your eyes and asks if you can play <%= @romantic_music %>, while you travel. After a lovely chat, stop and stare in wonder at what you have planned. It's time for <%= @activity %>!.
        </p>

        <p id="mad-lib">
        <%= @celeb %> is blown away by your attention to detail and says, "You're the most perfect date in the world." Right as that special moment hits, <%= @silly_event %> happens. Knowing you have to salvage this perfect date, you rapid-fire code a program that takes you both right back home, ending the night in dramatic fashion. "Wow." <%= @celeb %> says, clearly bewildered. "I need to learn how to code."
          
        The end.
        </p>
      </div>